<form actions="/register" method="post">

  <label for="username">Username</label>
  <input type="text" id="username" name="user"/>

  <label for="password">Password</label>
  <input type="text" id="password" name="user[password]"/>

  <label for="password-confirmation">Password confirmation</label>
  <input type="text" id="password-confirmation" name="user[password_confirmation]"/>

  <input type="submit" value="Register" />
</form>
